@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tilt+Neon&display=swap');
@import url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css');
* {
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 1100px) {
  .top_image {
    display: none;
  }

  .carousal-title {
    font-size: 1.0rem;
  }
}

.image-title{
  font-size: 1rem;
  font-weight: 500;
}
#hrr {
  border: 1px solid;
}

.top_image {
  /* position: relative; */
  width: 130px;
  height: 130px;
}

/* jumbotron start*/
.jumbotron {
  margin: 0;
  padding: 0;
  border-radius: 0 0 0 0;
  margin-bottom: 0px;
  background-image: url("/gallery/uni.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

.canvas {
  padding-left: 70px;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}

.canvas .top_image {
  background-color: rgb(251, 250, 250);
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

/* jumbotron end */


.img-KIITlogo {
  width: 20vw;
  height: auto;
  margin-bottom: 2vw;
}


/* nav bar style start */
.nav-link {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.navbar a:hover {
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-weight: 500;
}

/* navbar style end */


h1 {
  font-size: 1.2rem;
}

/* footer start */
.footer {
  margin: 0px auto;
  padding: 20px 0px;
  color: white;
}

.foot-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.foot-link:hover {
  color: rgb(180, 169, 169);
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-weight: 500;

}

.foot-icon:hover {
  scale: 1.2;
  transition: all 0.3s ease-out;
  box-shadow: 0px 0px 5px 1px white;
}

/* footer end */

.dropdown-menu {
  background: #343A40;
}

.navigation_bar {
  z-index: 100;
}

.zoom {
  transition: all .4s ease-out;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}


.marquees {
  background: lightgrey;
}

#Keynote-speakers {
  font-size: 50px;
  font-stretch: expanded;
  font-weight: bold;
}

.Keynotes {
  padding-bottom: 70px;
  background: #A8F1F1;
}

#sp-images {
  padding-left: 30px;
  padding-right: 25px;
  margin: 0;
}

#sp-images2 {
  padding-left: 40px;
  padding-right: 20px;
  margin: 0;
  width: 180px;
}

#pp-images {
  padding: 10px 30px 10px 30px;
}

.dropdown-item {
  color: white
}

.dropdown-item:hover {
  background: lightgrey;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* scroll to top */



:root {
  --green: #2ecc71;
  --black: black;
}
.circle-container {
  background: transparent;
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: bisque;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  /* // icon */
  &::after {
    position: absolute;
    font-family: 'unicons';
    content: '\e82d';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: var(--black);
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  /* // circle container hover */
  &:hover {

    /* // icon hover */
    &::after {
      position: absolute;
      font-family: 'unicons';
      content: '\e82d';
      color: var(--green);
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
    }
  }

  svg {
    path {
      fill: none;
    }

    &.circle-progress {
      path {
        stroke: var(--black);
        stroke-width: 4;
        box-sizing: border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
      }
    }
  }
}